<!DOCTYPE html>
<html>
<head>
  <title>TmlssBlogApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<% if signed_in? %>
  <p>
    You are signed in as <%= current_user.email %>
    <%= link_to "Sign out", sign_out_path, method: :delete %>
  </p>
<% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>



	<%= yield %>

</body>
</html>
